// _base.sass
*
  margin: 0px
  padding: 0px
  font-family: 'Roboto', sans-serif

a
  color: inherit
  text-decoration: none
  list-style-type: none

.card
  background-color: white
  border-radius: 20px
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
  transition: transform 1000ms

.card:hover
  transform: scale(1.025)

.fa-arrow-left
  position: absolute
  left: 17px
  top: 30px
  transition: transform 800ms

.fa-arrow-left:hover
  transform: scale(1.1)

.jsp
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.main-container
  margin: 0px
  min-width: 325px

header
  display: flex
  flex-direction: column
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15)

.logo
  display: flex
  width: 197px
  height: 36px
  margin: 14px auto

button
  color: var(--Grey, #353535)
  font-size: 16px
  font-style: normal
  font-weight: 500
  line-height: normal
  border: none
  background: var(--Grey-2, #EAEAEA)

.suitable
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
  position: relative

.euros
  color: #353535
  text-align: center
  font-family: Roboto
  font-size: 15.043px
  font-style: normal
  font-weight: 700
  line-height: normal

.overlay
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(255, 255, 255, 0.9)
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  animation: hideOverlay 3s forwards

  .loader
    border: 4px solid rgba(0, 0, 0, 0.1)
    border-top: 4px solid
    border-radius: 50%
    width: 50px
    height: 50px
    animation: spin 1.5s linear infinite

  @keyframes spin
    0%
      border-top-color: #9356DC
      transform: rotate(0deg)
    33%
      border-top-color: #FF79DA
      transform: rotate(120deg)
    66%
      border-top-color: #99E2D0
      transform: rotate(240deg)
    100%
      border-top-color: #9356DC
      transform: rotate(360deg)

  @keyframes hideOverlay
    0%
      opacity: 1
    100%
      opacity: 0
      visibility: hidden

.location
  display: flex
  flex-direction: row
  padding: 13px 0px
  background: var(--Grey-2, #EAEAEA)
  width: 100%
  align-items: center
  justify-content: center

.fa-location-dot
  display: flex
  padding-right: 17px
  align-items: center
  justify-content: center

.fa-location-dot::before
  display: flex
  color: rgba(53, 53, 53, 1)
  align-items: center
  justify-content: center

.op
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  gap: 20px
  padding: 40px 0px
  background: var(--Background, #F6F6F6)
  width: 100%

p
  font-family: Roboto
  font-size: 18px
  font-weight: 300
  text-align: center
  color: var(--Grey, #353535)

h1
  color: #000
  text-align: center
  font-family: Roboto
  font-size: 24px
  font-style: normal
  font-weight: 700
  line-height: normal

.btn
  border-radius: 25px
  background: var(--Button-Gradient, linear-gradient(193deg, #ff79da -11.44%, #9356dc 123.93%))
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
  color: var(--White, #FFF)
  text-align: center
  font-family: Roboto
  font-size: 16px
  font-style: normal
  font-weight: 500
  line-height: normal
  padding: 13px 16px 13px 16px
  border: none
  transition: transform 750ms

.btn1
  border-radius: 25px
  background: var(--Button-Gradient, linear-gradient(193deg, #ff79da -11.44%, #9356DC 123.93%))
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
  color: var(--White, #FFF)
  text-align: center
  font-family: Roboto
  font-size: 16px
  font-style: normal
  font-weight: 500
  line-height: normal
  padding: 13px 16px 13px 16px
  border: none
  display: flex
  justify-content: center
  align-items: center
  width: 186px
  transition: transform 750ms

.btn:hover, .btn1:hover
  background: var(--Button-Gradient, linear-gradient(193deg, #ff8bde -11.44%, #965cdc 123.93%))
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4)
  transform: scale(1.025)

.tap
  display: flex
  justify-content: center
  padding: 40px 0px

li::marker
  content: none

nav
  display: flex
  flex-direction: column
  margin: 50px 20px 50px 20px
  h1
    text-align: left

nav
  .a
    display: flex
    margin-top: 20px
    flex-direction: column
    align-items: flex-start
    gap: 15px
    align-self: stretch
    ul 
      display: flex
      flex-direction: column
      gap: 25px
      width: 100%
      li
        display: flex
        align-items: center
        border-radius: 20px
        background: var(--Background, #F6F6F6)
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
        padding: 24px
        gap: 20px
        .ellipse
          display: flex
          color: var(--White, #FFF)
          background-color: var(--Primary, #9356DC)
          border-radius: 50%
          width: 24px
          height: 24px
          align-items: center
          justify-content: center
          position: absolute
          left: 8px
          font-family: Roboto
          font-size: 14.182px
          font-weight: 500

.heart
  fill-opacity: 0
  transition: fill-opacity 1.5s ease-out, stroke-opacity 0.75s linear

.heart:hover
  stroke-opacity: 0
  fill-opacity: 1
  cursor: pointer

.starter
  margin-top: 38px
  display: flex
  flex-direction: column
  gap: 12px

.starter1
  color: #000
  font-family: Roboto
  font-size: 16px
  font-style: normal
  font-weight: 300
  line-height: normal
  text-transform: uppercase
  border-bottom-color: #99E2D0
  border-bottom-width: 3px
  border-bottom-style: solid
  width: 40px

.card-title
  font-family: Roboto
  font-size: 18px
  font-style: normal
  font-weight: 500
  line-height: normal

.card-subtitle
  font-family: Roboto
  font-size: 15.043px
  font-style: normal
  font-weight: 300
  line-height: normal
  width: 100%
  display: flex
  justify-content: space-between
  text-overflow: ellipsis

.weight
  font-weight: 500

.restaurants
  display: flex
  flex-direction: column
  gap: 18px
  margin: 0px 17.5px 66px 17.5px
  h1
    text-align: left

.media
  display: flex
  flex-direction: column
  gap: 18px

.new
  border-radius: 2px
  background: var(--Green, #99E2D0)
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
  color: var(--Green-Font, #008766)
  text-align: center
  font-family: Roboto
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: normal
  padding: 6px 8px 6px 8px
  position: absolute
  right: 15px
  top: 13px

.card-content
  display: flex

.card-text
  display: flex
  flex-direction: column
  margin: 15px
  align-items: flex-start
  gap: 2px
  width: 100%

.card-rating
  position: absolute
  right: 25px
  bottom: 19px

.img1
  width: 100%
  height: 231px
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  object-fit: cover

.img2
  max-width: 100%
  max-height: 26rem
  width: 100%
  object-fit: cover

.menu
  position: relative
  background-color: #F6F6F6
  border-top-left-radius: 40px
  border-top-right-radius: 40px
  padding: 32px 17px 0px 17px
  margin-top: -42px

.shriklando
  color: var(--Black, #101010)
  font-family: Shrikhand
  font-size: 28px
  font-style: normal
  font-weight: 400
  line-height: normal
  align-items: center
  display: flex
  gap: 25px

.group
  opacity: 0
  animation: itemAppear 1.5s ease-in-out forwards

.group1
  opacity: 0
  animation: itemAppear 3s ease-in-out forwards

.group2
  opacity: 0
  animation: itemAppear 4.5s ease-in-out forwards

@keyframes itemAppear
  0%
    opacity: 0
    transform: translateY(20px)

  100%
    opacity: 1
    transform: translateY(0)

.foot
  display: flex
  padding: 22px 25px
  flex-direction: column
  align-items: flex-start
  gap: 16px
  background: var(--Grey, #353535)
  ul
    display: flex
    flex-direction: column
    gap: 7px
    li
      color: var(--White, #FFF)
      font-family: Roboto
      font-size: 16px
      font-style: normal
      font-weight: 400
      line-height: normal
      a:hover
        text-decoration: underline

.logo2
  color: var(--White, #FFF)
  font-family: Shrikhand
  font-size: 18px
  font-style: normal
  font-weight: 400
  line-height: normal

.Selectbutton
  position: relative
  left: 500px

.fa-utensils
  margin-right: 11px

.fa-handshake-angle
  margin-right: 9px


.menu1
  background-color: white
  padding: 1rem
  display: flex
  border-radius: 20px
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
  overflow: hidden
  cursor: pointer
  max-width: 100%

  &__content
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    flex: 1

  &__title
    margin: 0
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  &__description
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    text-align: left

  &__price
    font-weight: bold
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding-left: 0.5rem
    font-size: 15.043px
    font-weight: 700
  
  &__confirmation
    background-color: #99E2D0
    margin: -1rem -5rem -1rem 1rem
    width: 4rem
    display: flex
    align-items: center
    justify-content: center
    transition-duration: 0.5s

  &:hover &__confirmation
    margin-right: -1rem


  &__wrapIcon
    height: 1.6rem
    width: 1.6rem
    background-color: white
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100px
    transform: rotate(180deg)
    transition-duration: 0.5s

  &:hover &__wrapIcon
    transform: rotate(0)

  &__icon
    color: #99E2D0

@media screen and ( min-width: 945px )
  .hmedia
    font-size: 40px
    font-weight: 700
  nav
    margin-left: 160px
    margin-right: 160px
    .a
      flex-direction: row
      margin-top: 25px
      ul
        flex-direction: row
        gap: 25px
        li
          width: 100%
          position: relative
          .ellipse
            position: absolute
            left: -10.5px
            .foot
              flex-direction: row-reverse
              justify-content: flex-start
              ul
                flex-direction: row-reverse
                justify-content: flex-start
  .menu
    margin: 0 100px
    margin-top: -42px
    .shriklando
      justify-content: center
    .starter
      padding: 0 50px
  .restaurants
    background: var(--Background, #F6F6F6)
    margin: 0
    padding: 30px 160px
  .media
    display: flex
    flex-wrap: wrap
    flex-direction: row
    gap: 50px
  .cardwrap
    flex: 1 1 45%
  .foot
    flex-direction: row-reverse
    align-items: center
    padding: 30px 25px
    ul
      flex-direction: row
      align-items: center
